@model HelpersMethods.Models.Person

@{
    ViewBag.Title = "Create person";
    Layout = "/Views/Shared/_Layout.cshtml";
    Html.EnableClientValidation(false);
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CreatePerson</title>
</head>
<body>
    <h2>Create Person: @Html.LabelForModel()</h2>

    <!--<form action="/Home/CreatePerson" method="post">-->
    <!--{ Html.BeginForm();}-->
    <!--using (Html.BeginForm("CreatePerson", "Home",
        new { id="MyIdValue"}, FormMethod.Post,
        new { class="personClass",data_formType="person"})){-->
    @using (Html.BeginRouteForm("FormRoute", new { }, FormMethod.Post,
         new { @class = "personClass", data_formType = "person" }))
    {
        <!--<div class="dataElem">
            <!--<label>PersonId</label>-->
        <!--<input name="personId" value="Model.PersonId" /><!--attribute name is nessasary for model binder-->
        <!--Html.TextBox("personId",Model.PersonId)-->
        <!--Html.TextBoxFor("PersonId")-->
        <!--Html.TextBoxFor(m=>m.PersonId)-->
        <!--Html.Editor("PersonId")
        </div>
        <div class="dataElem">
            <!--<label>First Name</label>-->
        <!--<input name="firstName" value="Model.FirstName" />-->
        <!--Html.TextBox("firstName", Model.FirstName)-->
        <!--Html.TextBox("firstName")-->
        <!--Html.Editor("FirstName")-->
        <!--Html.EditorFor(m=>m.PersonId)
        <!--</div>
        <div class="dataElem">
            <!--<label>Birth Date</label>-->
        <!--<input name="lastName" value="Model.LastName" />-->
        <!--Html.TextBox("lastName",Model.LastName)-->
        <!--Html.TextBox("lastName")-->
        <!--Html.EditorFor(m=>m.BirthDate)
        </div>

        <div class="dataElem">
            <!--<label>Is Approved</label>-->
        <!--<input name="lastName" value="Model.LastName" />-->
        <!--Html.CheckBox("IsApproved")-->
        <!--Html.EditorFor(m=>m.IsApproved)
        </div>
        <div class="dataElem">
            <!--<label>Role</label>-->
        <!--Html.DropDownListFor(m=>m.Role,
                new SelectList(Enum.GetNames(typeof(HelpersMethods.Models.Role))))-->
        <!--Html.EditorFor(m=>m.Role)
        </div>-->

        <div class="column">
            @Html.EditorForModel()
        </div>
        <div class="column">
            @Html.EditorFor(m => m.HomeAddress)
        </div>

        <input type="submit" value="Submit" />
        <!--</form>-->
        <!--{ Html.EndForm();}-->
    }
</body>
</html>
